/* A Modern CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
ul, ol {
padding: 0;
list-style: none;
}

button {
  cursor: pointer;
  
}
address {
  font-style: normal;
}
p, h1, h2, h3, h4, h5, h6 {
  padding-left: 0;
  padding-right: 0;
}
/* --------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
/*---  ---*/

/* .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.text-color {
  color: #2e2f42;
} */
.header-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* .header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
} */
/* .header-nav {
  display: flex;
 justify-content: center;
 align-items: center;
} */
.nav-list {
  display: flex;
  gap: 40px;
  position: relative;
}
/* .nav-item {
  margin-top: 73px;
  margin-bottom: 24px;
} */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
 
  padding: 24px 0;
display: block;
}
.nav-link.current {
  display: block;
  position: relative;
  color: #404bbf; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.nav-link.current::after{
content: '';
width: 100%;
position: absolute;
left: 0; 
bottom: -1px;
height: 4px; 
background-color: #404bbf; 
border-radius: 2px;
/* top: 20px; */


}
.nav-link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}
.nav-link:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
}

/* .address-item {
  margin-top: 73px;
  margin-bottom: 24px;
} */
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link {
  font-style: normal;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
address {
  font-style: normal;
  margin-left: auto;
 
}
.address-link:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.address-link:focus {
  color: #404bbf;
}
.address-item 
{
  /* transition: color 2050ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* section hero */
.hero {
  background: #2e2f42;
  padding: 188px 0;
  max-width: 1440px; 
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  margin:0 auto; 
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  /* ВАЖНО */
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
  cursor: pointer;
  
}
.hero-button:focus {
  background-color: #404bbf;
}
/* ----------- */
/* ---------------section feauteres ---------------*/
/* .feature {
  background-color: #f4f4fd;
} */
/* .feature-title {
  text-transform: capitalize;
}
.feature-list {
  display: flex;
  gap: 24px;
} */
/* .feature-container-icon {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
height: 112px;
margin-bottom: 8px;
} */

/* .feature-icon {
  width: 64px;
} */
/* .feature-list-item {
  width: calc((100% - 72px) / 4);
} */
/* .feature-title-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
} */

/* .feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */
/*  */
/* 3 our team */
.team {
  background: #f4f4fd;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); ; */
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.title-team {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center; 
}
.team-sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;

}
.team-name {
  padding: 32px 0;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-soc-list-icon {
  display: flex;
align-items: center;
  gap: 24px;
  margin-top: 8px;
  justify-content: center; 
}
.team-soc-item-icon {
  width: 40px;
  height: 40px;
  
}
.team-link-icon{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: #f4f4fd;
}
.team-link-icon:hover {
  background-color: #404bbf;
/* fill: #8e8f99; */
}
/* .team-link-icon:hover {
  background-color: #31D0AA;
} */


.team-link-icon:focus {
  background-color: #404bbf;
  }
 
/* use {
  background-color: #e7e9fc;
  fill: #8e8f99;
} */
/* .team-soc-icon:first-child{
  padding-left: 16px;
}
.team-soc-icon:last-child {
  padding-right: 16px;
} */


.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
 flex-basis: calc((100% - 72px) / 4));
 box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);  
}
/*  */
/* Our Portfolio */
.portfolio {
  text-transform: capitalize;
}
.portfolio-title {
  /* font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42; */
  margin-bottom: 72px;
}
/* .portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
} */
/* .portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
} */
/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
} */
/* .portfolio-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} */
.portfolio-item:hover {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item-img {
  position: relative;
  overflow: hidden;
  /* transform: translateY(0%); */
}
.portfolio-img-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
  position: absolute; 
  top: 0;
  padding: 40px 32px; 
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow: hidden; */

}
.portfolio-item:hover .portfolio-img-text {
  transform: translateY(0);
}
/*  */
/* footer */
/* .footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* padding-bottom: 32px; */
/* } */
/* li {
  list-style-type: none;
} */
.footer {
  padding: 100px 0;
  position: relative;

}
/* .footer-container {
  display: flex; 
  align-items: baseline;
  /* margin-right: 120px; */
/* } */ 
.footer-subcontainer {
  margin-right: 120px;
/* }
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* background-color: #4d5ae5; */
  /* display: inline-block;*/
  margin-bottom: 16px;
  /* text-decoration: none; */
  /* margin-right: 120px; */
/* } */ */
/* .footer-text-color {
  color: #f4f4fd;
} */
.footer-text {
  max-width: 264px;
  /* margin-bottom: 16px; */
}

/* .footer {
 
} */
.footer-soc {

  /* position: absolute;
  top: 90px;
  bottom: 142px;
  left: 542px;
  right: 700px;
  border-color: #e7e9fc;
  width: 208px;
height: 80px; */
/* margin-left: auto; */
/* } */
/* .footer-soc-list-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
} */
/* .footer-link-icon {
  width: 100%;
  height: 100%;
  fill: #f4f4fd; 
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .footer-link-icon{
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
}
.footer-link-icon:hover{
  background-color: #31d0aa;
}
.footer-link-icon:focus{
  background-color: #31d0aa;
}
.footer-subtitle {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;*/
text-align: left;
/* margin-bottom: 16px; */
/* } */ */

.footer-form {
   display: flex; 
   gap: 24px;
}
.footer-form-container {
  margin-left: auto;
}
/* .footer-form-title {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px; 
}
.footer-form-input{
  border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-size: 12px; 
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
padding-left: 16px;
color: #ffffff;
} */
/* input::placeholder {
  color: #ffffff;
}
.footer-form-button {
  border-radius: 4px;
padding: 8px 24px;
 min-width: 165px; 
height: 40px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
justify-content: center; 
align-items: center; 
border: none; 
}

.footer-form-button:hover {
border-color: #31d0aa;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.footer-send-icon {
  margin-left: 16px; 
  fill: #fff;
} */
/*  */
/* MODAL */
/* .modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center; */

  /* opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out; */
}

/* .modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
} */

.modal {
  /* /* background-color: #fff; */
  width: 408px;
  min-height: 584px; 
  /* background: #fcfcfc;

  position: absolute;
  transform: translate(-50%, -50%); */ */

  left: 50%;
  top: 50%;
  /* border-radius: 4px; 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; 
} */

/* .form-feadback { */
  /* display: flex; */
/* align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 4px; */
/* .modal-form-container {
  margin-bottom: 8px; 
} */
/* .modal-title{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
} */
/* .input-container {
  margin-bottom: 8px; 
} */
/* .form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;  */
margin-bottom: 4px;
/* text-align: left;
} */
/* .form-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
 background-color: transparent;
 padding-left: 38px;
 outline: transparent;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .form-input:focus {
  border-color: #4D5AE5; 
  fill: #4D5AE5; 
}
.form-input:focus .form-input-icon {
  fill: #4D5AE5; 
}
.internal-input-container {
  position: relative;
  /* margin-bottom: 8px;  */
}
.input-container:focus-within .form-input-icon{
  fill: #4D5AE5; 
} */
/* .form-input-icon {
position: absolute;
top: 50%;
 left: 16px;
transform: translateY(-50%); 
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
fill: #2e2f42;

}
.accept-icon {
fill: #f4f4fd;
} */

/* .modal-textarea-container {
  margin-bottom: 16px;
}
.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
/* border-radius: 4px; */
width: 360px;
/* height: 120px; */
/* font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
padding: 8px 16px; 
resize: none; */
} */
/* .modal-checkbox-container{
margin-bottom: 24px; 
} */
/* .modal-checkbox-container p { */
  /* font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
display: inline-block; */
/* margin-left: 0; */
/* } */
/* .modal-checkbox-container a {
 

} */
.cross-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button {
  border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border: none;
margin: 0 auto;
display: block;
/* margin-top: 24px; */
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-form-button:hover {
  background: #404bbf;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.form-checkbox {
  position: absolute;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .form-checkbox:checked{
  background-color: #404bbf;
fill:  #F4F4FD;

}
.form-checkbox:checked .form-label-span{
  background-color:#404bbf;
  fill: #F4F4FD; 

} */
.form-checkbox:checked + .form-label > .form-label-span{
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy {
  color:#4d5ae5;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  /* color: #4d5ae5; */
  display: inline-block;
}
.form-label-span {
  width: 16px; 
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  fill: transparent;
  margin-right: 8px;
}
/* .modal-form-button-close{
  border-radius: 50%; 
width: 24px;
height: 24px;
position: absolute;
top: 24px;
right: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-form-button-close:hover{
  background-color: #404bbf; 
  border: none;
  fill: #ffffff
}
.modal-form-button-close:focus{
  background-color: #404bbf; 
  border: none;
  fill: #ffffff
} */
/* textarea {
  resize: none;
} */



/*  */
button {
	font-family: inherit;
	color: currentColor;
}
input {
	font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
