/* MOBILE */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul,
ol {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}
address {
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0;
  padding-right: 0;
}
/* --------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

/*  */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: space-between; */
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
 /* justify-content: center; */
 align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  /* position: relative; */
}
.nav-list,
.address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 0;
  padding: 16px 0;
  display: block;
}
.text-color {
  color: #2e2f42;
}

/* section hero 1 */
.hero {
  background: #2e2f42;
  padding: 72px 0;
  max-width: 320px; 
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office-mob.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  margin:0 auto; 
  /* width: 100%; */
  /* margin-bottom: 96px; */
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  /* margin-bottom: 72px; */
  /* ВАЖНО */
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
  cursor: pointer;
  
}
.hero-button:focus {
  background-color: #404bbf;
}
/* section feauteres */
.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-title {
  text-transform: capitalize;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.feature-list-item {
  width: 100%;
}
.feature-title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* margin-bottom: 72px; */
}
.feature-container-icon {
  display: none;
}

/* 3 team */
.team {
  background: #f4f4fd; 
  /* padding-bottom: 96px; */
}
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
  }
  .title-team {
    margin-bottom: 72px;
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center; 
  }
  .team-sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .team-name {
    padding: 32px 0;
    /* margin-bottom: 72px; */
  }
  .team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
  }
  .team-soc-list-icon {
    display: flex;
  align-items: center;
    gap: 24px;
    margin-top: 8px;
    justify-content: center; 
  }
  .team-soc-item-icon {
    width: 40px;
    height: 40px;
  }
  .team-link-icon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   fill: #f4f4fd;
  }
  .team-link-icon:hover {
    background-color: #404bbf;
  }
  .team-link-icon:focus {
    background-color: #404bbf;
    }
    .team-item {
      background-color: #ffffff;
      border-radius: 0px 0px 4px 4px;
     /* flex-basis: calc((100% - 72px) / 4)); */
     box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);  
    margin-bottom: 72px;
    /* width: 100%; */
    /* display: flex; */

    /* align-items: center;
    justify-content: center;  */
    }
.team-img {
  /* width: 100%; */
}
    
/* 4 portfolio */

.portfolio {
  text-transform: capitalize;
padding-top: 96px;
padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
 
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-img-text {
  display: none;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
li {
  list-style-type: none;
}
.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 19px;
  text-decoration: none;
  text-align: center;
  display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}
.footer-subcontainer {
  margin-bottom: 72px;
}
.footer-soc {
  margin-bottom: 72px;

}
.footer-text-color {
  color: #f4f4fd;
}
.footer-soc-list-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-link-icon {
  width: 100%;
  height: 100%;
  fill: #f4f4fd; 
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon{
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
}
.footer-link-icon:hover{
  background-color: #31d0aa;
}
.footer-link-icon:focus{
  background-color: #31d0aa;
}
.footer-subtitle {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
text-align: center;
margin-bottom: 16px;
/* margin-top: 72px; */

}
/* .footer-form-container {
  margin-bottom: 72px;
} */
.footer-form-title {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px; 
text-align: center;
/* margin-top: 72px; */
}
.footer-form-input{
  border: 1px solid #fff;
border-radius: 4px;
width: 288px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-size: 12px; 
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
padding-left: 16px;
color: #ffffff;
margin-left: auto;
margin-right: auto;
}
input::placeholder {
  color: #ffffff;
}
.footer-form-button {
  border-radius: 4px;
padding: 8px 24px;
 min-width: 165px; 
height: 40px;
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
display: flex;
justify-content: center; 
align-items: center; 
border: none; 
margin-top: 16px;
/* margin-bottom: 96px; */
margin-left: auto;
margin-right: auto;
}

.footer-form-button:hover {
background-color: #31d0aa;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.footer-send-icon {
  margin-left: 16px; 
  fill: #fff;
}
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  background-color: #fff;
  max-width: 408px;
  width: 100%;
  min-height: 623px; 
  background: #fcfcfc;

  position: absolute;
  transform: translate(-50%, 0);

  left: 50%;
  right: 16px;
  /* top: 8px; */
  border-radius: 4px; 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; 
}
.modal-title{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.input-container {
  margin-bottom: 8px; 
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block; 
margin-bottom: 8px;
text-align: left;
display: flex;
/* margin-left: 100px; */
/* flex-direction: column; */
}
.form-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
 background-color: transparent;
 padding-left: 38px;
 outline: transparent;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4D5AE5; 
  fill: #4D5AE5; 
}
.form-input:focus .form-input-icon {
  fill: #4D5AE5; 
}
.internal-input-container {
  position: relative;
  /* margin-bottom: 8px;  */
}
.input-container:focus-within .form-input-icon{
  fill: #4D5AE5; 
}
.form-input-icon {
  position: absolute;
  top: 50%;
   left: 16px;
  transform: translateY(-50%); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  fill: #2e2f42;
  
  }
  .accept-icon {
  fill: #f4f4fd;
  }
  .modal-textarea-container {
    margin-bottom: 16px;
  }
  .form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px; 
  resize: none;
  }
  .modal-checkbox-container{
    margin-bottom: 24px; 
    }
    .cross-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-button {
      border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0 auto;
    display: block;
    /* margin-top: 24px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .modal-form-button:hover {
      background: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    }
    .form-checkbox {
      position: absolute;
    
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
    .form-checkbox:checked + .form-label > .form-label-span{
      border: none;
      background-color: #404bbf;
      fill: #f4f4fd;
    }
    
    .privacy {
      color:#4d5ae5;
      line-height: 1.33333;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      /* color: #4d5ae5; */
      display: inline-block;
    }
    .form-label-span {
   width: 16px; 
     height: 17px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 2px; 
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: inline-flex;
      align-items: center; 
      justify-content: center; 
      fill: transparent;
      margin-right: 8px;
      flex-shrink: 0;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-mob-2x.jpg);
  }
}
/* media */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    /* position: relative; */
  }
.address {
    display: flex;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
.burger-btn {
  display: none;
}
.header-nav {
  display: flex;
 justify-content: center;
 align-items: center;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
 
  padding: 24px 0;
display: block;
}
.nav-link.current {
  display: block;
  position: relative;
  color: #404bbf; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.nav-link.current::after{
content: '';
width: 100%;
position: absolute;
left: 0; 
bottom: -1px;
height: 4px; 
background-color: #404bbf; 
border-radius: 2px;
/* top: 20px; */


}

.nav-link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
}
.nav-link:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link {
  font-style: normal;
  text-decoration: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
address {
  font-style: normal;
  margin-left: auto;
 
}
.address-link:hover {
  
 
  color: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.address-link:focus {
  color: #404bbf;
}
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-tab.jpg);
    max-width: 768px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-top: 0;
    min-width: 496px;
    margin-bottom: 36px;

  }
  .feature-list {
    display: flex;
    gap: 72px 24px;
  }
  .feature-title-second {
    text-align: left;
  }
  .feature-list-item {
    width: calc((100% - 24px) / 2);
  } 
  .team {
    padding-bottom: 96px;
  }
  .team-list {
    gap: 40px 24px;
  }
  .team-item {
    
    /* flex-basis: calc((100% - 24px) / 2)); */
    margin-bottom: 0;
    width: 264px;
   
  }
  .title-team {
    padding-top: 120px;
  }
  /* .portfolio {
   
  } */
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .footer-container {
    display: flex; 
    align-items: baseline;
  }
  .footer-form {
    display: flex; 
    gap: 24px;
    /* margin-bottom: 96px; */
 }
.footer-container{
flex-wrap: wrap;
gap: 72px 24px;
padding: 0 108px;
/* align-items: center; */
/* justify-content: center; */

}

/* .footer-container > div{
  width: calc((100% - 24px) / 2);
} */
.footer-logo {
  text-align: left;
justify-content: left;
}
.footer-text {
  width: 264px;
 
}
.footer-subtitle {
  margin-top: 0;
  text-align: left;

}
.footer-form-label {
  width: 264px;
}
.footer-form-container {
  display: block;
  /* text-align: center; */
  justify-content: left;
  flex-wrap: wrap;
  /* gap: 20px; */
}
.footer-form-title {
  text-align: left;
  margin-top: 0;

}
.footer-subcontainer{
  margin-bottom: 0;
}
.footer-soc {
  margin-bottom: 0;
}
.footer-form-button {
  margin-left: 24px;
  margin-top: 0;
}
.modal{
  width: 408px;
  min-height: 584px;
  right: auto;
  top: 96px;

  width: 100%;
  transform: translate(-50%, 0);

  left: 50%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-officetab-2x.jpg);
  }
}
}
@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    margin-right: 76px;
  }
  .nav-list {
    flex-direction: row;
    gap: 40px;
   align-items: center;
  }
  .nav-link {
   
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  
  .hero {
    padding: 188px 0;
    margin:0 auto; 
    max-width: 1440px; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office.jpg);
      }
      .hero-title {
        font-weight: 700;
        line-height: 1.07;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
              }
              .feature {
                padding-top: 120px;
                padding-bottom: 120px;
              }
  .feature-list-item {
    width: calc((100% - 72px) / 4);
  } 
  .feature-container-icon {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
  height: 112px;
  margin-bottom: 8px;
  }
  .feature-icon {
    width: 64px;
  }
  .feature-title-second {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}
.feature-title-text {
  font-size: 20px;
  margin-bottom: 120px;
  font-weight: 400;
font-size: 16px;
}
.team {
  /* padding-top: 120px; */
  padding-bottom: 120px;
}
.team-item {
  width;: calc((100% - 72px) / 4);
}
.team-list{
  flex-wrap: nowrap;
  /* padding-top: 148px; */
}
/* .title-team {

} */
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item:hover {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item-img {
  position: relative;
  overflow: hidden;
  /* transform: translateY(0%); */
}
.portfolio-img-text{
  display: flex;
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
  position: absolute; 
  top: 0;
  padding: 40px 32px; 
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow: hidden; */

}
.portfolio-item:hover .portfolio-img-text {
  transform: translateY(0);
}
.footer-container {
  gap: 0;
  padding-left: 15px;
  padding-right: 15px;

}
.footer-form-container {
  margin-left: auto;
}
.footer-form {
  display: flex; 
  gap: 24px;
}
.footer-text {
  max-width: 264px;
}
.footer-subcontainer {
  margin-right: 120px;

}
.footer-subtitle {
  text-align: left;
}
.footer-logo {
  justify-content: left;
}
.footer {
padding-top: 100px;
  padding-bottom: 100px;
}
.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-label {
margin-bottom: 4px;

}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office2x.jpg);
  }
}
}

.modal-form-button-close{
  border-radius: 50%; 
width: 24px;
height: 24px;
position: absolute;
top: 24px;
right: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-form-button-close:hover{
  background-color: #404bbf; 
  border: none;
  fill: #ffffff
}
.modal-form-button-close:focus{
  background-color: #404bbf; 
  border: none;
  fill: #ffffff
}
/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  /* display: flex; */
  flex-direction: column;
  height: 100%;
}

.mobile-menu-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
border-radius: 50%; 
width: 24px;
height: 24px;
position: absolute;
top: 24px;
right: 24px;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-button-close:hover{
  background-color: #404bbf; 
  border: none;
  fill: #ffffff
}
.mobile-menu-button-close:focus{
  background-color: #404bbf; 
  border: none;
  fill: #ffffff
} 
.cross-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-link {
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
/* color: #404bbf; */
color: #2e2f42;
text-decoration: none;
}
.mobile-menu-link-corrent {
  color: #404bbf;
}
.mobile-menu-item {
margin-top: 40px;
margin-bottom: 40px;
}
.mobile-menu-address-link {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.mobile-menu-address-link:hover {
  
 
  color: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.mobile-menu-address-link:focus {
  color: #404bbf;
}
.mobile-menu-address-item {
  margin-bottom: 48px;
}
.mobile-menu-address-item:first-child {
  margin-top: 168px;
}
.mobile-team-soc-list-icon.team-soc-list-icon {
  justify-content: left;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}